.College, .Done {
    font-family: Arial-black;
    font-weight: 600px;
    font-size: 40px;
    color: #D60105;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.College-text {
    font-family: Teight;
    font-weight: 600px;
    font-size: 48px;
    color: #D60105;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.Confirm{
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
    color: #D60105;
    text-align: left;
    margin-left: 7vw;
    margin-right: 7vw;
    line-height: 30px;


}

.College-container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    /* padding-bottom: 5%; */


}


.Loading-container{
    
}

@media (max-width: 550px) {

    .College, .Done{
  
        padding-left: 0%;
        padding-right: 0%;
        font-size: 28px;
    
    }

    .Faxed-share{
        font-size: 36px;

    }

    .College-container{
  
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 20%;
    
    }

    .Confirm{
        font-size: 18px;
        line-height: 20px;
        text-align: left;


    }

}