.Label{
    font-family: M5;
    font-weight: normal;
    font-size: 36px;
    text-align: center;  
    color: #D60105;
    border-style: solid;
    border-color: #D60105;
    border-width: 3px;
    border-radius: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-bottom: 5%;

    transform: rotate(-5deg);

    ;
}

.Fax-container{
    /* display: flex;
    flex-direction: row; */
}

.Icon{
    width:12%;
}

@media screen and (max-width: 1000px){

    .Fax-container{
        flex-direction: row;

    }

    .Icon{
        display: none;
    }

    .Label{
        font-size: 32px;

    }

}
