.Manifesto {
  padding-top: 5%;
  padding-bottom: 5%;


  margin-left: 30%;
  margin-right: 30%;
}

.ConfirmButton{

}

.App{

}

.signup{
  padding-left: 30%;
  padding-right: 30%;

}

a{
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1000px){

  .Manifesto{
      margin-left: 0%;
      margin-right: 0%;
  }

  
}
