.Manifesto {
  padding-top: 5%;
  padding-bottom: 5%;


  margin-left: 30%;
  margin-right: 30%;
}

.ConfirmButton{

}

.App{

}

.Container{
  /* display: flex;
  flex-direction: row; */
}

.Left{
  flex:1;
  /* margin-left: 10%; */

}

.Right{
  flex:1;
  margin-right: 10%;
}

.Button-container{
  display: flex;
  flex-direction: row;
}

.Main-container{
  display: flex;
  flex-direction: row;
}

.Text-container{
  margin-left: 20%;
  margin-right: 20%;

}

.Button{
  flex:2;
}

.Label{
  flex: 1;
}

.Circle{
  height: 300px;
  width: 300px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.Cta-footer{
  font-weight: normal;
  font-family: Courier ;
  font-size: 18px;
  line-height: 40px;
  background-color: black;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.Cta-footer-button{
  color:white;
}

.signup{
  padding-left: 30%;
  padding-right: 30%;

}

a{
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1000px){

  .Manifesto{
      margin-left: 0%;
      margin-right: 0%;
  }

  .Container{
    flex-direction: column;
  }

  .Right{
    margin-right: 0%;
  }

  .Button-container{
    flex-direction: column;
  }

  .Main-container{
    flex-direction: column;
  }

  .Text-container{
    margin-left: 0%;
    margin-right: 0%;
  }


}