.Faxed-Container{
    display: flex;
    flex-direction: column;




}

.Faxed-hero{
    padding-left: 20%;
    padding-right: 20%;
}

.Faxed-container-text{
  
    padding-left: 20%;
    padding-right: 20%;
    /* border: 3px solid red; */
    border-top: 3px solid red;


}

.Faxed-Text{
    text-align: left;
    font-weight: normal;
    font-family: Courier;
    font-size: 24px;
    line-height: 40px;
    margin-top: 1em;
    margin-bottom: 1.5em;
  
}
/* 
.Faxed-share{
    font-family: Teight;
    font-weight: normal;
    font-size: 48px;
    color: #D60105;
    text-align: center;
   
  
} */

.Back{
    /* margin-left: 46%; */
    /* margin-right: 45%; */
    font-weight: 800;
    font-family: Courier;
    font-size: 18px;
    color: #D60105;
}

/* .Print{
    margin-left: 30%;
    width: 30%;
} */


@media (max-width: 550px) {

    .Faxed-hero{
        padding-left: 0%;
        padding-right: 0%;
    }

    .Faxed-container-text{
  
        padding-left: 0%;
        padding-right: 0%;
    
    }

    .Faxed-Container{
  
        padding-left: 0%;
        padding-right: 0%;
    
    }


    .Back{
        margin-left: 35%;
        /* margin-right: 35%; */

    }

    .Faxed-Text{
        font-size: 18px;
        line-height: 1.8;
        /* padding-left: 7vw;
        padding-right: 7vw; */
    }

    /* .Faxed-share{
        display: none;
        padding-left: 7vw;
        padding-right: 7vw;
    } */
    
 
  }
