.Faxed-Container{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;



}

.Faxed-Container-CTA{
  
    padding-left: 20%;
    padding-right: 20%;
    border: 3px solid red;


}

.Faxed-Text{
    text-align: left;
    font-weight: normal;
    font-family: Courier;
    font-size: 24px;
    line-height: 40px;
    margin-top: 1em;
    margin-bottom: 1.5em;
  
}

.Back{
    /* margin-left: 46%; */
    /* margin-right: 45%; */
    font-weight: 800;
    font-family: Courier;
    font-size: 18px;
    color: red;
}

/* .Print{
    margin-left: 30%;
    width: 30%;
} */


@media (max-width: 550px) {

    .Faxed-Container-CTA{
  
        padding-left: 0%;
        padding-right: 0%;
    
    }

    .Faxed-Container{
  
        padding-left: 0%;
        padding-right: 0%;
    
    }


    .Back{
        margin-left: 35%;
        /* margin-right: 35%; */

    }

    .Faxed-Text{
        font-size: 18px;
        line-height: 1.8;
        margin-left: 7vw;
        margin-right: 7vw;
    }
    
 
  }
