.small-img{
    width: 20%;
    margin-left: 30%;
    margin-right: 12%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

@media (max-width: 550px) {

    
    .small-img{
        width: 30%;
        margin-right: 7vw;
        margin-left: 7vw;



    }
  }
